body{
 background-color: #000000;
 color: #FFFFFF;
 font-family: "游ゴシック","メイリオ","ＭＳ ゴシック";
}

p{
 letter-spacing: 2px;
 font-size: 18px;
 font-family: monospac;
 white-space: nowrap;
}

.mg{
 padding: 8px 18px;
}

.hoge{

}

.hoge2{
  font-size: 24px;
}
